JAXB_DEMO/xml-resources/jaxb/libreria/libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Feb 07 2017 18:24:09 GMT+0100 -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="libros">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="libro" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="titulo" type="xs:string"></xs:element>
                                             <xs:element name="autor" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="publicado_en" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>